{% extends 'main.html' %}
{% load static %}
{% block content %}

    <table class="table table-bordered">
        <tr>
            <th><h5>Date order: <strong>{{order.date_ordered}}</strong></h5></th>
            <th><h5>Items: <strong>{{order.get_cart_items}}</strong></h5></th>
            <th><h5>Total:<strong> {{order.get_cart_total}}</strong></h5></th>
        </tr>
    </table>

	<div class="row">
		{% for item in allItems %}
		    <div class="col-sm-3 m-3">
                <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{item.product.imageURL}}" alt="Card image cap" width="250" height="250" >
                    <div class="card-body">
                    <h5 class="card-title">{{item.product.name}}</h5>
                    <p class="card-text">Price: {{item.product.price}} </p>
                     <p class="card-text">Quantity: {{item.quantity}} </p>
                        <p class="card-text">Total: {{item.get_total}} </p>
                    </div>
                </div>
            </div>
		{% endfor %}
	</div>
{% endblock content %}