{% extends 'main.html' %}
{% load static %}

{% block content %}
	<div class="row">
		{% for order in orders %}
		    <div class="col-sm-4">
                <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{% static 'pictures/cart.png' %}" alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title">{{order.customer.name}}</h5>
                    <p class="card-text">Price: {{order.get_cart_total}} </p>
                        <p class="card-text">Items: {{order.get_cart_items}} </p>
                    <a class="nav-link" href="{% url 'detail' order_id=order.id %}">Szczegóły zamówienia </a>
                    </div>
                </div>
            </div>
		{% endfor %}
	</div>
{% endblock content %}